# This is a basic workflow to help you get started with Actions

name: Deploy Zip 

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the trunk branch
  push:
    branches: [ trunk ]
  pull_request:
    branches: [ trunk ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Run npm & composer install
        run: npm i & composer i

      # Install and build, and then create a zip file which you can use to install WooCommerce Blocks in WordPress admin
      - name: Build project and create zip file
        run: npm run package-plugin
        
      - name: Copy file via ssh password
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          port: 22
          source: "woocommerce-gutenberg-products-block.zip"
          target: "/srv/users/user05e34584/apps/user05e34584/public/wp-content/plugins/"  

    
